 .list{

    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .list__container {
        width: 530px;
        background-color: lightgrey;
     }
     .list__container__search {

     }
}